@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background-color: #4BC586;
  border-radius: 10px;
}

/* Scrollbar Track when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #3aa874;
}

/* Scrollbar Track Background */
::-webkit-scrollbar-track {
  background-color: #242424;
}


body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-dark3 text-white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer components {
  .card {
    @apply text-white bg-gray-50 border border-gray-100 rounded px-5 py-2.5;
  }
  
  .btn {
    @apply bg-primary text-black px-6 py-5 rounded-full font-semibold duration-300 ease-in-out hover:bg-primary/80 flex items-center justify-center;
  }
  .nav-item {
    @apply text-white px-5 py-4 rounded font-semibold duration-300 ease-in-out hover:bg-white/5 flex items-center;
  }
  .nav-item.active {
    @apply bg-primary text-black hover:bg-primary/80
  }

  .btn-lg {
    @apply !px-6 !py-5 !gap-2
  }

  .btn-md {
    @apply px-4 py-3 font-semibold
  }

  .btn-base {
    @apply px-3 py-3 text-xs sm:text-sm gap-0.5
  }

  .btn-sm {
    @apply px-3 py-2.5 text-xs font-bold
  }
  .btn-xs {
    @apply px-1.5 py-1 text-xs font-bold
  }

  .btn-edit {
    @apply !bg-transparent !border !border-gray-50 !text-gray-600 hover:!border-gray-200 px-3 py-1.5 text-xs sm:text-sm;
  }
  .btn-primary {
    @apply bg-primary hover:bg-primary/80;
  }

  .btn-gray {
    @apply text-gray-400 bg-gray-100 hover:bg-gray-200;  
  }

  .btn-dark {
    @apply text-white bg-gray-50 border border-gray-100 hover:bg-gray-150;  
  }

  .btn-green {
    @apply bg-green-600/20 text-green-600 hover:bg-green-600/40;
  }

  .btn-red {
    @apply bg-red-400/20 text-red-400 hover:bg-red-400/40;
  }

  .btn-outline {
    @apply !bg-transparent !border !border-gray-50 !text-gray-600 hover:!border-gray-200;
  }

  .btn-group {
    @apply flex gap-2
  }

  .btn-group .btn {
    @apply bg-primary/30 text-primary px-3 py-2 rounded-full font-bold hover:bg-primary/20;
  }

  .btn-group .btn.active {
    @apply bg-primary text-black hover:bg-primary/80;
  }

  .btn-group.gray .btn.active {
    @apply bg-black text-white hover:bg-black/80 
  }

  .btn-group.gray .btn {
    @apply bg-black/20 text-black hover:bg-black/40 
  }

  .btn-group.light .btn.active, .btn-group.lighter .btn.active {
    @apply bg-white text-black hover:bg-white/80 
  }

  .btn-group.light .btn {
    @apply bg-white/20 text-white hover:bg-white/40 
  }

  .btn-group.lighter .btn {
    @apply bg-white/10 text-white hover:bg-white/20 
  }
  
  .rank-badge {
    @apply bg-gray-100 p-2 rounded-full;
  }
}

.truncate-wrapper {
  display: grid;
  grid-template-columns: auto auto
}

.tab {
  @apply flex relative
}
.tab::before {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50%;
  z-index: -1;
  @apply rounded-t bg-dark2;
}
.tab::after {
  position: absolute;
  content: '';
  left: 0px;
  top: 50%;
  width: 100%;
  height: 50%;
  z-index: -1;
  @apply bg-white;
}
.tab .tab-item {
  @apply px-5 py-4 text-center flex-1 rounded-t rounded-bl rounded-br bg-dark2
}
.tab .tab-item:first-of-type {
  @apply rounded-bl-none;
}
.tab .tab-item:last-of-type {
  @apply rounded-br-none;
}
.tab .tab-item.active {
  @apply bg-white text-black rounded-bl-none rounded-br-none
}
.input-field {
  @apply flex items-center bg-gray-50 rounded-full px-4 py-2.5 gap-3;
}
.search-field {
  @apply card flex-grow h-full px-6 py-5 rounded-full outline-none text-white;
}
select {
  @apply px-2.5 py-1.5 rounded-full bg-gray-100 text-white outline-none;
}
input {
  min-width: 0px;
}
.skeleton {
  background: linear-gradient(120deg, #FFFFFF0F 25%, #FFFFFF1C 50%, #FFFFFF0F 75%);
  background-size: 400px 200%;
}

.skeleton.dark {
  background: linear-gradient(120deg, #0000000F 25%, #0000001C 50%, #0000000F 75%);
  background-size: 400px 200%;
}

.loading .skeleton {
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}